<h1>Recipes:</h1>
<ul>
<% recipes.each do |recipe| %>
  <li>
    <h3>Recipe Name: <%= recipe.name %></h3>
    <h5><b>Recipe Ingredients:</b> <%= recipe.ingredients %></h5>
    <p><b>Recipe Cook Time:</b> <%= recipe.cook_time %></p>
    <a href="/recipes/<%= recipe.id %>">Click here for the recipe!</a>
  </li>
<% end %>
</ul>
